<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{timezone}} {{title}}!
  </h1>

  <div id="button holder">
    <button (click)="showTime('PST')" [ngClass]="{selected: lastTimeZoneSelected === 'PST'}">PST</button>
    <button (click)="showTime('MST')">MST</button>
    <button (click)="showTime('CST')">CST</button>
    <button (click)="showTime('EST')">EST</button>
    <button (click)="clear()">CLEAR</button>
  </div><br>
  <h2 *ngIf='!flag'>  {{ time | date: 'mediumTime' }}</h2>


</div>
